services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: n8n
      POSTGRES_USER: n8n
      POSTGRES_PASSWORD: postgres_password
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    deploy:
      mode: replicated
      replicas: 1
      update_config:
          order: start-first
          delay: 1s
    networks:
      - internal

  n8n:
    image: n8nio/n8n:latest
    environment:
      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: postgres
      DB_POSTGRESDB_PORT: 5432
      DB_POSTGRESDB_DATABASE: n8n
      DB_POSTGRESDB_USER: n8n
      DB_POSTGRESDB_PASSWORD: postgres_password

      N8N_RUNNERS_ENABLED: "true"
      N8N_BLOCK_ENV_ACCESS_IN_NODE: "false"
      N8N_GIT_NODE_DISABLE_BARE_REPOS: "true"
      N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: "true"

      # URL & Webhook
      N8N_HOST: mydomain.com
      N8N_PROTOCOL: https
      N8N_PORT: 5678
      WEBHOOK_URL: https://mydomain.com/

      NODE_ENV: production
      TZ: Asia/Jakarta
      GENERIC_TIMEZONE: Asia/Jakarta
    volumes:
      - ./data/n8n:/home/node/.n8n
    deploy:
      mode: replicated
      replicas: 1
      update_config:
          order: start-first
          delay: 1s
      labels:
          - "traefik.enable=true"
          - "traefik.docker.lbswarm=true"
          - "traefik.docker.network=traefik-network"

          # http
          - "traefik.http.routers.n8n-http.rule=Host(`crm.n8n.starasukses.id`)"
          - "traefik.http.routers.n8n-http.entrypoints=web"

          # https
          - "traefik.http.routers.n8n.rule=Host(`crm.n8n.starasukses.id`)"
          - "traefik.http.routers.n8n.entrypoints=websecure"
          - "traefik.http.routers.n8n.tls=true"
          - "traefik.http.routers.n8n.tls.options=default"
          - "traefik.http.routers.n8n.tls.certresolver=le"

          # Service
          - "traefik.http.services.n8n.loadbalancer.server.port=5678"

          # Middleware for http
          - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
          - "traefik.http.routers.n8n-http.middlewares=redirect-to-https"

          # Middleware for https
          - "traefik.http.routers.n8n.middlewares=headers-default@file"
    networks:
      - traefik-network
      - internal

networks:
  traefik-network:
    external: true
  internal:
    driver: overlay